{% extends 'base.html.twig' %}

{% block title %}Ajout Film{% endblock %}

{% block body %}
    <h1 class="mx-auto" style="width: 200px; margin-top: 30px; margin-bottom: 30px;">Films</h1>
    <div class="border border-primary rounded" style="padding: 50px">
    	{{ include('film/_form.html.twig') }}
    </div>
{% endblock %}
