<form method="post" action="{{ path('personne_delete', {'idp': personne.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
    <button type="btn" class="btn btn-danger"><img src="{{ asset('img/delete.png') }}" alt="Bootstrap" class="img-responsive" width="25" height="22"></button>
</form>
