{% extends 'base.html.twig' %}

{% block title %}Modification Personne{% endblock %}

{% block body %}
    <h1 class="mx-auto" style="width: 200px; margin-top: 30px; margin-bottom: 30px;">Personnes</h1>

    <div class="border border-primary rounded" style="padding: 50px">
    	{{ include('personne/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    	<div class="border border-primary" style="margin-top: 25px; position: absolute">
    		{{ include('personne/_delete_form.html.twig') }}
    	</div>
    </div>
{% endblock %}
