<form method="post" action="{{ path('gagner_delete', {
	'idp': gagner[0].getIdp().getId(),
	'idf': gagner[0].getIdf().getId(),
	'idprix': gagner[0].getIdprix().getId(),
}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ 
    	gagner[0].getIdp().getId()*
    	gagner[0].getIdf().getId()*
    	gagner[0].getIdprix().getId()
    ) }}">
    <button type="btn" class="btn btn-danger"><img src="{{ asset('img/delete.png') }}" alt="Bootstrap" class="img-responsive" width="25" height="22"></button>
</form>
