{% extends 'base.html.twig' %}
{% block title %}Prix Cinématographiqe{% endblock  %}

{% block body %}
    
    <div id="container">
       <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur le site des prix cinématographiques</h1>
            <p class="lead">Base de données</p>
            <img src="{{ asset('img/modele.png') }}" alt="Bootstrap" class="img-responsive">
            <hr class="my-4">
        </div>
        
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}