{% extends 'base.html.twig' %}

{% block title %}New Ceremonie{% endblock %}

{% block body %}
    <h1>Create new Ceremonie</h1>

    {{ include('ceremonie/_form.html.twig') }}

    <a href="{{ path('ceremonie_index') }}">back to list</a>
{% endblock %}
