{% extends 'base.html.twig' %}

{% block title %}New Ceremonie{% endblock %}

{% block body %}
    <h1 class="mx-auto" style="width: 200px; margin-top: 30px; margin-bottom: 30px;">Ceremonie</h1>
    {{ include('ceremonie/_form.html.twig') }}

    
{% endblock %}
